@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* global */
i {
    cursor: pointer;
}

img {
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
}

/* navbar */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
}


#nav-bar .left {
    display: flex;
    align-items: center;
}

#nav-bar .left h3 {
    font-weight: 700;
}

#nav-bar .left .fa-bars {
    margin-right: 18px;
}

#nav-bar .left .fa-youtube {
    margin-right: 3px;
    color: red;
    font-size: 22px;

}


#nav-bar .center {
    display: flex;
    align-items: center;
}

#nav-bar .center .search-bar {
    width: 350px;
    padding: 19px 0;
    position: relative;
}

#nav-bar input {
    position: absolute;
    inset: 0;
    border: 1px solid #ccccccfd;
}

#nav-bar input::placeholder {
    padding-left: 5px;
    font-size: 15px;

}

#nav-bar .center .fa-magnifying-glass {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    background-color: #F0F0F0;
    border: 1px solid #ccccccfd;
}

#nav-bar .center .fa-microphone {
    margin-left: 15px;
    background-color: #F0F0F0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#nav-bar .right {
    display: flex;
    align-items: center;
}

#nav-bar .right img {
    width: 32px;
    border-radius: 50%;
    margin-left: 25px;
}

/* main */
#main {
    width: 67vw;
    background-color: #f9f9f9;
    padding-left: 40px;
    padding-right: 23px;
    padding-top: 23px;
}

/* video section */
#main .video {
    height: 530px;
}

#main .video span {
    color: #065FD4;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block;

}

#main .video h1 {
    color: #030303;
    font-size: 20px;
    font-weight: 500;
}

/* description section */
#main .description {
    margin-top: 10px;
}

#main .description .views-count,
#main .description .more {
    margin-top: 10px;
    font-size: 14px;
    color: #030303;
    font-weight: 500;

}

#main .description .paragraph {
    color: #606060;
    font-size: 14px;
}

/* feedback section */
#main .feedback {
    margin-top: 15px;
}

#main .feedback ul {
    list-style: none;
    display: flex;
}

#main .feedback li {
    margin-right: 20px;
}

#main .feedback span {
    margin-left: 5px;
    font-size: 14px;
    color: #030303;
    font-weight: 500;
}























































#side-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100% - 80px);
    width: 33vw;
    background-color: #f9f9f9;


}